[Unit]
Description=Dgraph Alpha instance
Wants=network.target
After=network.target dgraph-zero.service
Requires=dgraph-zero.service

[Service]
Type=simple
User=dgraph
Group=dgraph
WorkingDirectory=/home/admin/db
ExecStart=/home/admin/fractal6/dgraph alpha --config /home/admin/fractal6/contrib/dgraph/config-alpha.yml
Restart=always
StandardOutput=journal
StandardError=journal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
